### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/
.shelf
.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Claude Code ###
settings.local.json

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
gradle/
.gradle-user-home
.claude
succession-editor
DynamicTrees-release-1.21.1.zip
DynamicTrees-src/
/libs/dynamictrees-neoforge-1.21.1-1.7.2.jar
/.shelf/_2026_6_16_21_36____.xml
/.shelf/在进行更新之前于_2026_6_16_21_36_取消提交了更改_[更改]/shelved.patch
/.shelf/在进行更新之前于_2026_6_16_21_36_取消提交了更改_[更改]1/shelved.patch
